.container {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 20%;
}

h1 {
	font-size: 24pt;
	font-family: "Trebuchet MS";
	color: #2F4F4F;
}

label {
	font-family: "Trebuchet MS";
	color: #708090;
	padding-right: 20px;
	padding-bottom: 20px;
}

input {
	font-family: "Trebuchet MS";
	width: 100%;
	padding: 12px 20px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button.SignIn {
	background-color: #2F4F4F;
	border: none;
	color: white;
	padding: 12px 20px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	box-sizing: border-box;
}

button.SignIn:hover {
	background-color: #708090;
	color: white;
}

a {
	font-family: "Trebuchet MS";
	background-color: transparent;
	font-size: 9;
	padding-bottom: 20px;
}


